# Build e Binários
/bin/
/target/
*.class
*.jar
*.war

# Logs e Temporários
*.log
hs_err_pid*
replay_pid*
.mtj.tmp/

# Configurações do Eclipse
.metadata/
.classpath
.project
.settings/

# Configurações do IntelliJ IDEA
.idea/
*.iml
*.iws

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Configurações locais (Não envie suas senhas do MySQL!)
config.yml
